.lod {
   
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 50%;
  }
  .lod:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: rgb(217, 11, 11) transparent #fff transparent;
    animation: lod 1.2s linear infinite;
  }
  @keyframes lod {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  